// Colors
$primary-color: #363636;
$secondary-color: #69AD36;
$white: #f6f6f6;
$lightgrey: rgba(#000, .1);
$lightwhite: rgba(#fff, .2);

// Font Sizes
$font-small: 15px;
$font-medium-small: 17px;
$font-medium: 18px;
$font-medium-large: 20px;
$font-large: 26px;
$font-xlarge: 36px;

// Font Weight
$font-normal: 100;
$font-bold: 600;