/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

/* for all */
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for container */
.container {
  background-color: #f6f6f6;
  color: #363636;
}

/* for wrapper */
.wrapper {
  max-width: 1440px;
  width: 88%;
  margin: 0 auto;
}

.text--green {
  color: #69AD36;
}

.bottom--underline {
  width: 70px;
  height: 3px;
  display: inline-block;
  margin: 18px 0;
  background-color: #69AD36;
}

/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .wrapper {
    width: 90%;
  }
}
header {
  position: sticky;
  top: 0;
  background-color: #363636;
  z-index: 1;
}
header a {
  color: #f6f6f6;
}
header .flex-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  position: relative;
}
header .flex-container .logo {
  width: 25%;
}
header .flex-container .logo h1 {
  padding: 30px 26px;
  font-size: 26px;
}
header .flex-container nav {
  width: 75%;
}
header .flex-container nav ul {
  padding: 40px 34px 0 0;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
}
header .flex-container nav ul li {
  padding-left: 40px;
}
header .flex-container nav ul li a:hover {
  padding: 8px 12px;
  border: 2px solid #f6f6f6;
  border-radius: 4px;
  margin: -10px -14px;
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  header .flex-container .logo {
    width: 100%;
  }
  header .flex-container .logo h1 {
    padding: 30px 26px 12px 26px;
  }
  header .flex-container nav {
    width: 100%;
  }
  header .flex-container nav ul {
    padding: 12px 26px 24px 26px;
    text-align: left;
  }
  header .flex-container nav ul li:first-child {
    padding-left: 0;
  }
  header .flex-container nav ul li a:hover {
    padding: 6px;
    border: 2px solid #f6f6f6;
    margin: -8px;
  }
}
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  header .flex-container nav {
    display: none;
  }
  header .flex-container nav:hover {
    position: relative;
    top: -24px;
    display: block;
    transition: 0.2s;
  }
  header .flex-container nav ul {
    padding-top: 24px;
  }
  header .flex-container nav ul li {
    padding: 12px 0;
    display: block;
  }
  header .flex-container .hamburger {
    position: absolute;
    top: 28px;
    right: 24px;
    width: 28px;
    height: 20px;
    cursor: pointer;
  }
  header .flex-container .hamburger:hover {
    margin: -9px;
    padding: 8px;
    border: 1px solid #69AD36;
    border-radius: 4px;
  }
  header .flex-container .hamburger:hover + nav {
    position: relative;
    top: -24px;
    display: block;
    transition: 0.2s;
  }
  header .flex-container .hamburger span {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #69AD36;
  }
  header .flex-container .hamburger span:nth-child(1) {
    margin-bottom: 4px;
  }
  header .flex-container .hamburger span:nth-child(2) {
    margin-bottom: 4px;
  }
}
.banner {
  position: relative;
  background-image: url("https://via.placeholder.com/1440x770/656565?text=BG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f6f6f6;
  height: 770px;
  text-align: center;
}
.banner .content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .content h2 {
  margin-top: 124px;
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner .content p {
  width: 50%;
  margin: 0 auto;
  padding: 16px 0 36px 0;
  font-size: 22px;
  line-height: 1.5;
}
.banner .content a {
  padding: 16px 20px;
  background-color: #69AD36;
  border-radius: 5px;
  color: #f6f6f6;
  font-size: 18px;
  text-transform: uppercase;
}
.banner .content a:hover {
  margin: -2px;
  background-color: transparent;
  border: 2px solid #f6f6f6;
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .banner .content {
    width: 95%;
  }
  .banner .content p {
    width: 100%;
  }
}
/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .banner .content {
    width: 100%;
  }
  .banner .content h2 {
    font-size: 36px;
  }
}
.about .flex-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 120px 0;
}
.about .flex-container .welcome {
  width: 50%;
}
.about .flex-container .welcome h3 {
  padding-left: 24px;
  font-size: 36px;
  font-weight: 600;
}
.about .flex-container .welcome .bottom--underline {
  margin-left: 24px;
}
.about .flex-container .welcome p {
  padding: 24px;
  line-height: 1.4;
}
.about .flex-container .welcome p:nth-of-type(2) {
  padding-top: 0;
}
.about .flex-container .welcome .service-link {
  margin-top: 30px;
  margin-left: 24px;
}
.about .flex-container .welcome .service-link a {
  padding: 14px 17px;
  background-color: #69AD36;
  border-radius: 5px;
  color: #f6f6f6;
  font-size: 18px;
  text-transform: uppercase;
}
.about .flex-container .welcome .service-link a:hover {
  margin: -2px;
  background-color: #f6f6f6;
  border: 2px solid #69AD36;
  color: #69AD36;
}
.about .flex-container .care {
  width: 25%;
}
.about .flex-container .care figure {
  padding-left: 16px;
}
.about .flex-container .care figure img:hover {
  -webkit-box-shadow: 0 0 4px #363636;
  box-shadow: 0 0 4px #363636;
}
.about .flex-container .care figure figcaption {
  padding-top: 24px;
  font-size: 20px;
  font-weight: 600;
}
.about .flex-container .care figure figcaption p {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .about .flex-container .welcome {
    width: 100%;
  }
  .about .flex-container .care {
    width: 50%;
    padding-top: 50px;
  }
}
/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .about .flex-container .care {
    width: 100%;
  }
}
.services {
  background-color: #69AD36;
  color: #f6f6f6;
  text-align: center;
}
.services p {
  font-size: 18px;
}
.services .inner {
  padding: 120px 0;
}
.services .inner h3 {
  font-size: 36px;
}
.services .inner .bottom--underline {
  background-color: #f6f6f6;
}
.services .inner .flex-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
}
.services .inner .flex-container .features {
  width: 25%;
}
.services .inner .flex-container .features img {
  -webkit-box-shadow: 0 0 4px #363636;
  box-shadow: 0 0 4px #363636;
  width: 100%;
  margin: -12px;
  border: 12px solid #69AD36;
  border-radius: 50%;
}
.services .inner .flex-container .features img:hover {
  border: 12px solid rgba(0, 0, 0, 0.1);
}
.services .inner .flex-container .features figcaption {
  padding-top: 32px;
  font-size: 22px;
}
.services .inner .flex-container .features figcaption p {
  padding: 12px 0 38px 0;
  font-size: 16px;
  line-height: 1.4;
}

/*media query for 1100px starts here*/
@media only screen and (max-width: 1100px) {
  .services .inner .flex-container .features img {
    width: 85%;
  }
}
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .services .inner .flex-container .features {
    width: 50%;
  }
}
/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .services .inner .flex-container .features {
    width: 100%;
  }
}
.gallery .inner {
  padding: 100px 0;
  text-align: center;
}
.gallery .inner h3 {
  font-size: 36px;
}
.gallery .inner p {
  font-size: 18px;
}
.gallery .inner ul {
  padding: 63px 0 56px 0;
}
.gallery .inner ul li {
  margin: 0 10px;
}
.gallery .inner ul li a {
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #363636;
  text-transform: uppercase;
}
.gallery .inner ul li a:hover:not(.active) {
  margin: -2px;
  background-color: #f6f6f6;
  border: 2px solid #69AD36;
}
.gallery .inner ul li a.active {
  background-color: #69AD36;
  color: #f6f6f6;
}
.gallery .inner .flex-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery .inner .flex-container .projects {
  width: 33.33%;
}
.gallery .inner .flex-container .projects figure {
  padding: 0 10px 32px 10px;
}
.gallery .inner .flex-container .projects figure img:hover {
  -webkit-box-shadow: 0 0 4px #363636;
  box-shadow: 0 0 4px #363636;
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .gallery .inner ul li {
    padding: 6px 0;
  }
  .gallery .inner .flex-container .projects {
    width: 50%;
  }
}
/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .gallery .inner .flex-container .projects {
    width: 100%;
  }
}
.testimonials {
  background-color: #69AD36;
  color: #f6f6f6;
  text-align: center;
}
.testimonials .inner {
  padding: 120px 0;
}
.testimonials .inner h3 {
  font-size: 36px;
}
.testimonials .inner .bottom--underline {
  background-color: #f6f6f6;
}
.testimonials .inner .review {
  display: block;
  padding: 52px 0 30px 0;
  line-height: 1.5;
}
.testimonials .inner .review-by {
  display: block;
  font-size: 17px;
}
.testimonials .inner .carousel-slider {
  padding-top: 26px;
}
.testimonials .inner .carousel-slider span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.testimonials .inner .carousel-slider span:hover:not(.active) {
  background-color: #363636;
}
.testimonials .inner .carousel-slider span.active {
  background-color: #f6f6f6;
}

/* contact section */
.contact p {
  font-size: 18px;
}

.contact__form {
  padding: 100px 136px;
  text-align: center;
}
.contact__form h3 {
  font-size: 36px;
}
.contact__form h4 {
  font-weight: 600;
  text-transform: uppercase;
}
.contact__form .flex-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 90px 0 0 0;
}
.contact__form .flex-container .contact-info {
  width: 33.33%;
}
.contact__form .flex-container .contact-info .bottom--underline {
  margin-top: 10px;
  margin-bottom: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}
.contact__form .flex-container .contact-info p {
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 1.5;
}
.contact__form .flex-container .contact-info a {
  color: #363636;
}
.contact__form .flex-container .contact-info a:hover {
  text-decoration: underline;
}

form h4 {
  padding: 80px 0 40px 0;
}
form .form-flex {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
form .form-flex input {
  width: 81%;
  margin: 0 0 16px 0;
  padding: 9px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  outline: none;
}
form .form-flex input:focus {
  border: 1px solid #69AD36;
}
form .form-flex textarea {
  width: 91%;
  margin: 0 0 16px 0;
  padding: 20px 18px 28px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  outline: none;
}
form .form-flex textarea:focus {
  border: 1px solid #69AD36;
}
form .form-flex .user-name {
  width: 50%;
}
form .form-flex .user-email {
  width: 50%;
}
form .form-flex .user-message {
  width: 100%;
}
form .form-flex .send-button {
  width: 100%;
}
form .form-flex a {
  padding: 14px 17px;
  background-color: #69AD36;
  border-radius: 5px;
  color: #f6f6f6;
  font-size: 18px;
  text-transform: uppercase;
}
form .form-flex a:hover {
  margin: -2px;
  background-color: #f6f6f6;
  border: 2px solid #69AD36;
  color: #69AD36;
}

/* social and copyright section */
.dark-bg {
  padding: 24px;
  background-color: #363636;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
.dark-bg .social-icons a {
  padding: 16px 12px 44px 12px;
  color: rgba(255, 255, 255, 0.2);
}
.dark-bg .social-icons a:hover {
  color: #f6f6f6;
}
.dark-bg .social-icons a .fab {
  color: #69AD36;
}
.dark-bg .social-icons a .fa-stack {
  font-size: 20px;
}
.dark-bg .copyright p {
  padding: 8px;
  font-size: 15px;
}
.dark-bg .copyright a {
  color: #69AD36;
}
.dark-bg .copyright a:hover {
  color: #f6f6f6;
}

/*media query for 1100px starts here*/
@media only screen and (max-width: 1100px) {
  .contact__form {
    padding: 100px;
  }
  .contact__form .flex-container .contact-info {
    width: 50%;
  }
  .contact__form .flex-container h4 {
    padding-top: 12px;
  }
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  form .form-flex input {
    width: 74%;
  }
  form .form-flex textarea {
    width: 87%;
  }
}
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .contact__form {
    padding: 100px 24px;
  }
  .contact__form .flex-container .contact-info {
    width: 100%;
  }

  form .form-flex .user-name {
    width: 100%;
  }
  form .form-flex .user-email {
    width: 100%;
  }
  form .form-flex input {
    width: 100%;
  }
  form .form-flex textarea {
    width: 100%;
  }
}
/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .contact__form {
    padding: 100px 0;
  }

  form .form-flex input {
    padding: 9px 0 9px 18px;
  }
  form .form-flex textarea {
    padding: 9px 0 9px 18px;
  }
}

/*# sourceMappingURL=style.css.map */
